NEXT_PUBLIC_API_BASE=http://localhost:8000
# Basemap style. Default Carto Positron (Aino-style light vector basemap).
# CSDI's vector style URL currently 404s; set this when CSDI republishes one.
NEXT_PUBLIC_BASEMAP_STYLE=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
